.content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('/../portifolio/img/background.png');
    background-position:  center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.content .content_middle{
    margin: 0 auto;
    max-width: 900px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/** header **/
.content_middle header{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.content_middle header img{
    border: 3px solid;
    border-radius: 50%;
    border-color: rgba(252, 8, 8, 0.63) ;
}

.content_middle header h1{
    margin: 10px 0px;
    font-family: 'Barlow', sans-serif;
    color: white;
    text-align: bottom;

}
.content_middle header h1 span{
    font-size: .6em;
    color: red;

}

/** media_social **/
.media_social{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
.media_social a svg:hover path{
    fill: red;
}
.media_social a + a{
    margin: 10px;
}

/** nav menu **/
nav ul{
    display: flex;
    flex-flow: column wrap;
}


nav ul a li{
    margin: 12.5px 0px;
    background-color: var(--button_color);
    min-width: 440px;
    height: 62px;
    list-style: none;
    color: var(--button_color_text);
    font-family: 'Barlow';
    font-weight: 400;
    border-radius: 5px;
    border-top: 3px solid;
    border-image: radial-gradient(rgba(255, 17, 17, 0), rgba(252, 8, 8, 0.63), rgba(255, 17, 17, 0)) 1;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    font-size: 1.2em;
}

nav ul a:hover li{
    text-decoration: underline;
    color: white;
}


nav ul a li span{
  position: absolute;
  top: 20px;
  right: 10px;
}



